html {
}

body {
  background-color: grey;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #333;
}

#header-img {
  width: 49px;
  height: 49px;
}

#title {
  color: white;
  font-size: 18px;
}

#nav-bar {
  display: flex;
  flex-direction:row;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 14px 16px;

  border-left: 1px solid #555;
  border-bottom: 2px #555 solid;
}

.nav-link:hover {
  background-color: #555;
}

.nav-link:active {
  background-color:#4CAF50;
}

main {
  padding-top: 100px;
}

.link-landing {
  padding-top: 50px;
}

#link3 {
  padding-top: 500px;
}
